<section class="block container">
    <header class="block--header">
        <h1 class="block__heading">Headings</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, maxime iusto in veritatis a esse cum molestias magnam ea possimus?</p>
    </header>
</section>


<section class="block block--dark block--sckewed--left">
    <div class="container">
        <header class="block--header">
            <h1 class="block__heading">Headings</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, maxime iusto in veritatis a esse cum molestias magnam ea possimus?</p>
        </section>
        </header>
    </div>